:root {
  --color-primary: #34CB79;
  --color-title: #322153;
  --color-text: #6C6C80;
  --color-background: #F0F0F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
}

body, input, button {
  font-family:  Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
  font-family: Ubuntu;
}